name: Update AUR

on:
  workflow_dispatch:
  push:
    branches: [main]
    paths: [PKGBUILD]

jobs:
  publish:
    runs-on: ubuntu-latest
    container: archlinux:base-devel
    steps:
      - run: pacman -Sy --noconfirm openssh git

      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - run: |
          useradd -m builder
          chown -R builder: .
          su builder -c 'makepkg --printsrcinfo > .SRCINFO'

      - name: Push to AUR
        env:
          AUR_SSH_KEY: ${{ secrets.AUR_SSH_KEY }}
        run: |
          mkdir -p /root/.ssh
          echo "$AUR_SSH_KEY" > /root/.ssh/id_ed25519
          chmod 600 /root/.ssh/id_ed25519
          ssh-keyscan -t ed25519 aur.archlinux.org >> /root/.ssh/known_hosts 2>/dev/null
          git config --global safe.directory '*'
          git clone ssh://aur@aur.archlinux.org/sioyek-dev.git /tmp/aur
          cp PKGBUILD .SRCINFO /tmp/aur/
          cd /tmp/aur
          git config user.name "Barrett Ruth"
          git config user.email "barrettruth@gmail.com"
          git add PKGBUILD .SRCINFO
          git diff --cached --quiet || git commit -m "update .SRCINFO"
          git push
